*.pyc
.venv
.venv_linux
__pycache__

# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/
build/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local
